.titel1 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: right;
    padding-right: 30px;
    padding-top: 80px;
    color: black;
}

.button {
    background-color: #fab001;
    color: #44195e;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 10px 15px;
    width: auto;
    border:none;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color:white;
    color:#fab001;
}
.button:active {
    background-color:#44195e;
    color:white;
}
#boekons {
    margin-left: 30px;
    margin-top:20px; 
}

.food {
    max-width: 100%;
    display: block;
    height: auto;
}

.titel2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 30px;
    padding-top: 50px;
    color: white;
}

.titel3 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
    color: white;
}

.titel4 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    color: black;
}

.tussentitel1 {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    text-align: left;
    padding-left: 30px;
    padding-top: 50px;
    color: black;
}

.tussentitel2 {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    color: black;
}

.tussentitel3 {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    color: black;
}
#footertekst {
    text-align: center; 
    font-family: 'Open sans', sans-serif;
    font-size: 8pt;
    padding-top: 15px;
    color: white;
}

.lopendetekst1 {
    font-family: 'Open sans', sans-serif;
    font-size: 10pt;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    color: white;
    letter-spacing: 1px;
}
.img-responsive {
    display: block;
    max-width: 100%; 
    height: auto;
    padding-left: 30px; 
    padding-top: 35px;
}
.tussentitel {
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    color: #fab001;
}
.tussentitel3 {
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    text-align: left;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
    color: #fab001;
}

.tussentitel2 {
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    color: #fab001;
}
.tussentitelprijs {
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    color:white;
}

.lopendetekst2,
.lopendetekst3 {
    font-family: 'Open sans', sans-serif;
    font-size: 8pt;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    color: black;
}

.facebooklink,
.youtubelink {
    font-family: 'Open sans', sans-serif;
    font-size: 8pt;
    text-align: left;
    padding-left: 30px;
    padding-top: 25px;
    color: black;
}

.button1 {
    padding-left: 30px;
    font-family: 'Open sans', sans-serif;
    font-size: 8pt;
    padding-top: 40px;
    color: black;
}

.button2 {
    padding-left: 30px;
    font-family: 'Open sans', sans-serif;
    font-size: 8pt;
    padding-top: 25px;
    color: black;
}

.nieuwsbrief {
    font-family: 'Open sans', sans-serif;
    font-size: 8pt;
    text-align: center;
    padding-top: 25px;
    color: black;
}

.productiedossier {
    font-family: 'Open sans', sans-serif;
    font-size: 8pt;
    text-align: center;
    padding-top: 25px;
    color: black;
}

.foto1 {
    text-align: right;
    padding-right: 30px;
    font-family: 'Open sans', sans-serif;
    font-size: 8pt;
    padding-top: 40px;
    color: black;
}

#footerlink {
    font-family: 'Open sans', sans-serif;
    font-size: 8pt;
    text-align: center;
    padding-top: 30px;
    color: white;
}
#footerlink:hover {
    color:#44195e;
}
#footerlink:active {
    color:#fab001;
}
#link1 {
    padding-left: 30px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 8pt;
    padding-top:30px; 
}

#link2 {
    padding-right: 30px;
    padding-top:30px; 
    float: right;
    font-family: 'Oswald', sans-serif;
    font-size: 8pt;
}

a:link {
    color: #fab001;
    /*background-color: transparent;*/
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

a:hover {
    color: #44195e;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

a:visited {
    color: #fab001;
    /*background-color: transparent;*/
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.nav-item {
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    letter-spacing: 2px;
}

.navbar-brand {
    width: 80px;
}
.nav-item :hover {
    color:white;
    } 
.nav-item :active {
    color:#44195e;
    } 
.logofooter {
    width: 100px;
    padding-left: 30px;
    padding-top:20px; 
}

.navbar {
    background-color:#44195e;
}

.hero {
    height: 100px;
    background-image: url('../images/header.png');
    background-position: center center;
    background-size: cover;
}

.img-fluid {
    height: auto;
    max-width: 100%;
}
.prijs {
    font-family: 'Oswald', sans-serif;
    font-size: 10pt;
    color: #fab001;
}
.img-responsive2 {
    display: block;
    max-width: 100%; 
    height: auto;
}
#form {
    font-family: 'Open sans', sans-serif;
    color:#44195e;
    font-size: 10pt;
    text-align:center;
    margin-top:50px; 
}
.form-control{
    font-family: 'Open sans', sans-serif;
    color:#44195e;
    font-size: 10pt;
    text-align:center;
    margin-top:30px;
    margin:auto;
    width:250px;
}
#bericht{
    height:100px;
}
#info{
    height:100px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
hr{
    margin-top: 1rem;
    box-sizing: content-box;
    overflow: visible;
}
.hr_links{
    float:left;
}
.hr_onder{
    width:50px;
    height: 6px;
    margin-left: 30px;;
    margin-right: auto;
    margin-bottom: 40px;
    background-color:#fab001;
    border: 0 none;
    border-radius: 7px 7px 7px 7px;
}
.navbar-brand {
    animation-name:animate;
        animation-duration:5s;
        animation-timing-function:linear;
        animation-delay:0s;
        animation-direction:normal;

        -webkit-animation-name:animate;
        -webkit-animation-duration:5s;
        -webkit-animation-timing-function:linear; 
        -webkit-animation-delay:0s;
        -webkit-animation-direction:normal;
}

@keyframes animate {
        0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
        50% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        }
        100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        }
}

@-webkit-keyframes animate {
        0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
        50% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        }
        100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        }
}
iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
}
.img-fluid{
    height: 300px;
    width: 100%;
    object-fit: cover; // here
    -o-object-fit: cover;
}
#titeltje {
    padding-top: 250px;
}
.wrapper {
    background-color:#44195e;padding-top:30px;padding-bottom:40px;
}
#wrapper1{
    background-color:#44195e;padding-top:0px;padding-bottom:30px;
}
#standaard{
    background-color:#44195e;padding-top:30px;padding-bottom:30px;
}
#footer{
    background-color:#fab001;padding-top:10px;padding-bottom:10px;
}
#speciaal{
    background-color:#44195e;padding-top:30px;padding-bottom:146px;
}
#kleur{
    background-color:#44195e;
}
#onder{
    background-color:#44195e;padding-bottom:30px;
}
#speciaal2{
    background-color:#44195e;padding-top:30px;padding-bottom:59px;
}
.sprite1{
    background-image: url("../images/sprite.png");
    background-size: 200%;
    height: 32px;
    width:32px;
    display: block;
}
.sprites{
    float:right;
    margin-right:30px;
}

.sprite1:hover {
    background-position-x: -32px;
}

.sprite2{
    background-image: url("../images/sprite.png");
    background-size: 200%;
    height: 32px;
    width:32px;
    display: block;
    background-position-x:-64px;
    background-position-y:32px;
}
.sprite2:hover {
    background-position-x: 32px;
}
#mc_embed_signup{
    text-align:center;
}
#mc_embed_signup_scroll{
    color: white;
}
#mce-EMAIL{
    font-family: oswald; 
}
@media screen and (min-width: 480px) {
.hero{
    height:350px;
}
}